@import "quill/dist/quill.snow.css";

.page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 7rem 0 7rem 0;
  gap: 2rem;
  min-height: calc(100vh - 18rem);
  background-color: #e2e2e2;
}

/* Product form styling */
.productForm {
  padding: 2rem;
  width: 100%;
  max-width: 40rem;
  min-height: 37.5rem;

  background: white;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.productForm h1 {
  margin-bottom: 2rem;

  white-space: nowrap;
  font-size: 2rem;
  text-align: center;
  color: #333;
}

.form {
  display: flex;
  flex-direction: column;
}

.field {
  margin-bottom: 1rem;
}

.field label {
  display: block;
  margin-bottom: 0.625rem;
  font-weight: bold;
  color: #555;
}

.field label:not(.notRequired)::after {
  content: "*";
  margin-left: 0.25rem;
  font-size: 1.1rem;
  color: #ff0000;
}

.field input,
.field textarea {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
  background-color: #f9f9f9;
  transition: border-color 0.1s ease;
  box-sizing: border-box;
}

.field input:focus,
.field textarea:focus {
  border-color: #0070f3;
  background-color: #fff;
}

/* Quill editor styling */
.quillEditor {
  height: auto;
  border-radius: 4px;
  overflow: hidden;
  height: 100%;
  overflow-y: auto;
  background-color: #f9f9f9;
}

.quillEditor .ql-toolbar {
  height: 50px;
}

.quillEditor:focus-within {
  border-color: #0070f3;
  background-color: #fff;
}

/* Product list styling */
.productList {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 2rem;
  width: 100%;
  max-width: 20rem;
  height: 37.5rem;

  background: white;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.productList h1 {
  margin-bottom: 2rem;

  white-space: nowrap;
  font-size: 2rem;
  text-align: center;
  color: #333;
}

.productList ul {
  list-style: none;
  flex-grow: 1;
  overflow-y: auto;
}

.productItem {
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

.productItem:last-child {
  border-bottom: none;
}

.productItem strong {
  display: block;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.25rem;
  color: #007bff;
}
