/* - Product form - */
.productForm {
  padding: 2rem;
  margin-right: 4rem;
  border-radius: 4px;
  box-shadow: 0 0 1.5px rgba(0, 0, 0, 0.2);
  background: white;
}

.productForm h3 {
  margin-bottom: 2rem;
  font-size: 1rem;
  color: #333;
}

.form {
  display: flex;
  flex-direction: column;
}

.form h5 {
  font-size: 0.625rem;
  font-weight: 400;
  color: #555;
  white-space: nowrap;
  margin-top: 0.4rem;
  margin-bottom: 1rem;
}

.imageContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

/* - Title and price - */
.titleAndPrice {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.price {
  display: flex;
  align-items: center;
}

.price h6 {
  padding-left: 1rem;
  font-size: 0.75rem;
  font-weight: 300;
  color: #555;
  white-space: nowrap;
}

/* - Field - */
.field {
  width: 100%;
  margin-bottom: 1rem;
}

.field label {
  display: block;
  font-size: 0.75rem;
  margin-bottom: 0.4rem;
  font-weight: 600;
  color: #555;
}

.field label:not(.notRequired)::after {
  content: "*";
  margin-left: 0.15rem;
  font-size: 0.75rem;
  color: #ff0000;
}

.field input,
.field textarea {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  /* box-shadow: 0px 1px 0 rgb(0, 0, 0, 0.1); */
  font-size: 0.8rem;
  outline: none;
  background-color: #ffffff;
  transition: border-color 0.2s ease;
  box-sizing: border-box;
}

.field input:focus,
.field textarea:focus {
  border-color: #555;
}

/* - Checkbox - */
.checkbox {
  display: flex;
  align-items: center;
  margin: 0.625rem 0 0.625rem 0.625rem;
}

.checkbox h6 {
  margin-left: 0.625rem;
  font-size: 0.75rem;
  font-weight: 500;
  color: #555;
}

.checkbox input[type="checkbox"] {
  appearance: none;
  width: 1rem;
  height: 1rem;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.checkbox input[type="checkbox"]:checked {
  background-color: #555;
  border-color: #555;
}

.checkbox input[type="checkbox"]:checked::after {
  content: "✓";
  position: absolute;
  font-size: 0.9rem;
  color: white;
  transform: translate(-50%, -50%);
}
