@import "quill/dist/quill.snow.css";

/* - Text editor - */
.ql-container,
.ql-toolbar {
  border: none !important;
}

.ql-container {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  /* box-shadow: 0px 1px 0 rgb(0, 0, 0, 0.1); */
  border: 1px solid #e2e2e2 !important;
}

.ql-toolbar {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-left: 1px solid #e2e2e2 !important;
  border-top: 1px solid #e2e2e2 !important;
  border-right: 1px solid #e2e2e2 !important;
  border-bottom: 1px solid #e2e2e200 !important;
}

.ql-editor {
  min-height: 8rem;
  max-height: 16rem;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
  overflow-y: auto;
  background-color: #fff;
}

.ql-container:focus-within {
  border-color: #555 !important;
}

.ql-toolbar:focus-within {
  border-color: #555 !important;
  border-bottom: 1px solid #555 !important;
}

/* - Font button - */
/* Button. */
.ql-snow .ql-picker.ql-font {
  width: 2.75rem;
}

.ql-snow .ql-picker.ql-font .ql-picker-label {
  padding: 0;
}

.ql-snow .ql-picker.ql-font .ql-picker-label::before {
  content: "\00A0\270E";
  font-size: 1.1rem;
}

/* - Header button - */
/* Button. */
.ql-snow .ql-picker.ql-header {
  width: 2.4rem;
}

.ql-snow .ql-picker.ql-header .ql-picker-label {
  padding: 0;
}

/* Options. */
.ql-snow .ql-picker.ql-header .ql-picker-label::before {
  content: "\00A0\00A0\00B6";
  font-size: 0.9rem;
}

.ql-snow .ql-picker.ql-header .ql-picker-label[data-value]::before {
  content: "\00A0\00A0\00B6";
  font-size: 0.9rem;
}

.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="1"]::before {
  content: "Rubrik 1";
}

.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="2"]::before {
  content: "Rubrik 2";
}

.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="3"]::before {
  content: "Rubrik 3";
}

.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="4"]::before {
  content: "Rubrik 4";
}

.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="5"]::before {
  content: "Rubrik 5";
}

.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="6"]::before {
  content: "Rubrik 6";
}

/* - Button tooltips - */
.ql-snow .ql-picker.ql-font,
.ql-snow .ql-picker.ql-header,
.ql-snow .ql-bold,
.ql-snow .ql-italic,
.ql-snow .ql-underline,
.ql-snow .ql-strike,
.ql-snow .ql-color,
.ql-snow .ql-background,
.ql-snow .ql-align,
.ql-snow .ql-indent,
.ql-snow .ql-list,
.ql-snow .ql-link {
  position: relative;
}

.ql-snow .ql-picker.ql-font .ql-picker-label::after,
.ql-snow .ql-picker.ql-header .ql-picker-label::after,
.ql-snow .ql-bold::after,
.ql-snow .ql-italic::after,
.ql-snow .ql-underline::after,
.ql-snow .ql-strike::after,
.ql-snow .ql-color::after,
.ql-snow .ql-background::after,
.ql-snow .ql-align .ql-picker-label[aria-expanded="false"]::after,
.ql-snow .ql-align.ql-expanded:hover .ql-picker-label::after,
.ql-snow .ql-align .ql-picker-item::after,
.ql-snow .ql-indent[value="-1"]::after,
.ql-snow .ql-indent[value="+1"]::after,
.ql-snow .ql-list::after,
.ql-snow .ql-link::after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: #000000be;
  color: #fff;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: opacity 0.2s ease;
  z-index: 1000;
}

.ql-snow .ql-picker.ql-font .ql-picker-label:hover::after,
.ql-snow .ql-picker.ql-header .ql-picker-label:hover::after,
.ql-snow .ql-bold:hover::after,
.ql-snow .ql-italic:hover::after,
.ql-snow .ql-underline:hover::after,
.ql-snow .ql-strike:hover::after,
.ql-snow .ql-color:hover::after,
.ql-snow .ql-background:hover::after,
.ql-snow .ql-align .ql-picker-label[aria-expanded="false"]:hover::after,
.ql-snow .ql-align.ql-expanded:hover .ql-picker-label:hover::after,
.ql-snow .ql-align .ql-picker-item:hover:hover::after,
.ql-snow .ql-indent[value="-1"]:hover::after,
.ql-snow .ql-indent[value="+1"]:hover::after,
.ql-snow .ql-list:hover::after,
.ql-snow .ql-link:hover::after {
  opacity: 1;
}

.ql-snow .ql-picker.ql-font .ql-picker-label::after {
  content: "Teckensnitt";
  bottom: 150%;
}

.ql-snow .ql-picker.ql-header .ql-picker-label::after {
  content: "Format";
  bottom: 150%;
}

.ql-snow .ql-bold::after {
  content: "Fetstil";
  bottom: 142%;
}

.ql-snow .ql-italic::after {
  content: "Kursiv stil";
  bottom: 142%;
}

.ql-snow .ql-underline::after {
  content: "Understruken";
  bottom: 142%;
}

.ql-snow .ql-strike::after {
  content: "Genomstruken";
  bottom: 142%;
}

.ql-snow .ql-color::after {
  content: "Textfärg";
  bottom: 142%;
}

.ql-snow .ql-background::after {
  content: "Bakgrundsfärg";
  bottom: 142%;
}

.ql-snow .ql-align .ql-picker-label[aria-expanded="false"]::after {
  content: "Justera";
  bottom: 150%;
}

.ql-snow .ql-align.ql-expanded:hover .ql-picker-label::after {
  content: "Justera";
  bottom: 150%;
}

.ql-snow .ql-align .ql-picker-options .ql-picker-item:first-child::after {
  content: "Vänsterställ";
  bottom: 132.75%;
}

.ql-snow .ql-align .ql-picker-item[data-value="center"]::after {
  content: "Centrera";
  bottom: 132.75%;
}

.ql-snow .ql-align .ql-picker-item[data-value="right"]::after {
  content: "Högerställ";
  bottom: 132.75%;
}

.ql-snow .ql-align .ql-picker-item[data-value="justify"]::after {
  content: "Likställ";
  bottom: 132.75%;
}

.ql-snow .ql-indent[value="-1"]::after {
  content: "Minska indrag";
  bottom: 142%;
}

.ql-snow .ql-indent[value="+1"]::after {
  content: "Öka indrag";
  bottom: 142%;
}

.ql-snow .ql-list[value="ordered"]::after {
  content: "Ordnad lista";
  bottom: 142%;
}

.ql-snow .ql-list[value="bullet"]::after {
  content: "Oordnad lista";
  bottom: 142%;
}

.ql-snow .ql-link::after {
  content: "Infoga länk";
  bottom: 142%;
}
