* {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
}

.dashboard-container {
  background-color: #f4f4f9;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 1.25rem 1.25rem;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar-links li {
  position: relative;
}

.dropdown-button {
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #444;
  border: 1px solid #555;
  padding: 0.625rem;
  list-style: none;
  display: none;
  z-index: 1000;
}

.dropdown-menu li {
  padding: 0.3125rem 0.625rem;
  color: white;
}

.dropdown-menu li:not(.no-hover):hover {
  background-color: #555;
}

.hoverable {
  cursor: pointer;
}

.logout-button {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.logout-button:hover {
  background-color: #c9302c;
}

.navbar-links .dropdown:hover .dropdown-menu {
  display: block;
}
